@import "tailwindcss";

:root {
  --background: #f8f3ec;
  --surface: #fffdf9;

  --text: #2b2623;
  --muted: #7b726d;

  --primary: #a44e4b;
  --secondary: #d8c1a0;

  --border: #ece5dd;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

::selection {
  background: var(--primary);
  color: white;
}